{{ .Path }}/{{ if .SeparateLogDir }}logs/{{ end }}{{ .Name }}.log {
    su {{ .Name }} {{ .Name }}
    size 50M
    rotate 7
    daily
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
}