[Unit]
Description={{ .Label }}
{{- if .After }}
After={{ .After }}{{ end }}
{{- if .Requires }}
Requires={{ .Requires }}{{ end }}
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
User={{ .Name }}
Group={{ .Name }}

{{ if .RuntimeDir }}RuntimeDirectory={{ .Name }}
{{ end -}}
WorkingDirectory={{ .Path }}
ExecStart={{ .Path }}/{{ .Name }}
{{- if .EnvFile }}
EnvironmentFile={{ .EnvFile }}{{ end }}

StandardOutput=append:{{ .Path }}/{{ if .SeparateLogDir }}logs/{{ end }}{{ .Name }}.log
StandardError=append:{{ .Path }}/{{ if .SeparateLogDir }}logs/{{ end }}{{ .Name }}.log
StandardInput=null

# Filesystem Sandboxing
ProtectSystem=strict
{{ if .WritableFiles }}ReadWritePaths={{ else }}ReadOnlyPaths={{ end }}{{ .Path }}
ProtectHome=yes
PrivateTmp=yes
PrivateMounts=yes
UMask={{ if .WritableFiles }}0022{{ else }}0077{{ end }}

# Kernel & Hardware Protection
PrivateDevices={{ if .Devices }}no{{ else }}yes{{ end }}
DevicePolicy={{ if .Devices }}{{ if .FullDevices }}none{{ else }}auto{{ end }}{{ else }}closed{{ end }}
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
SystemCallArchitectures=native

# Process & Identity Isolation
ProtectProc=invisible
ProcSubset=pid
LockPersonality=yes
ProtectHostname=yes
UtmpMode=no
NoNewPrivileges=yes
PrivateIPC=yes
PrivateUsers={{ if .PrivateUsers }}yes{{ else }}no{{ end }}
RestrictNamespaces=yes
RemoveIPC=yes
RestrictRealtime=yes
RestrictSUIDSGID=true
KeyringMode=private
CoredumpFilter=0

# Memory Protection
MemoryDenyWriteExecute={{ if .ExecMemory }}no{{ else }}yes{{ end }}

# Network Restriction
RestrictAddressFamilies=AF_UNIX{{ if .Network }} AF_INET AF_INET6{{ end }}{{ if .Devices }} AF_NETLINK{{ end }}
PrivateNetwork={{ if .Network }}no{{ else }}yes{{ end }}
{{- if and .Network (not .Listening) }}
SocketBindDeny=any{{ end }}
{{- if and .Network .LocalhostOnly }}
IPAddressAllow=localhost
IPAddressDeny=any{{ end }}

# Syscall Filtering
{{- if .PrivilegedPorts }}
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
{{- else }}
CapabilityBoundingSet=
{{- end }}
SystemCallErrorNumber=EPERM
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @reboot @swap @resources{{ if not .Devices }} @raw-io{{ end }} @privileged @keyring @pkey @memlock
{{- if not .Subprocess }}
InaccessiblePaths=-/bin -/usr/bin -/sbin -/usr/sbin -/usr/local/bin{{ end }}
{{- if or .CPUQuota .MemoryMax }}

# Resource Limits
{{- if .CPUQuota }}
CPUQuota={{ .CPUQuota }}{{ end }}
{{- if .MemoryMax }}
MemoryMax={{ .MemoryMax }}{{ end }}
{{- end }}

# Restart & Runtime
Restart=always
RestartSec=3
RuntimeMaxSec=5d
{{- if .Defaults }}

# Defaults
{{ .FormatDefaults }}
{{- end }}
{{- if .Custom }}

# Custom
{{ .FormatCustom }}
{{- end }}

[Install]
WantedBy=multi-user.target