[Unit]
Description={{ .Label }}
After=network-online.target
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
User={{ .Name }}
Group={{ .Name }}

WorkingDirectory={{ .Path }}
ExecStart={{ .Path }}/{{ .Name }}

StandardOutput=append:{{ .Path }}/{{ .Name }}.log
StandardError=append:{{ .Path }}/{{ .Name }}.log
StandardInput=null

# Filesystem Sandboxing
ProtectSystem=strict
{{ if .NeedsWritableFiles }}ReadWritePaths={{ else }}ReadOnlyPaths={{ end }}{{ .Path }}
ProtectHome=yes
PrivateTmp=no
PrivateMounts=yes
UMask={{ if .NeedsWritableFiles }}0022{{ else }}0077{{ end }}

# Kernel & Hardware Protection
PrivateDevices={{ if .NeedsDevices }}no{{ else }}yes{{ end }}
DevicePolicy={{ if .NeedsDevices }}auto{{ else }}closed{{ end }}
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
SystemCallArchitectures=native

# Process & Identity Isolation
ProtectProc=invisible
ProcSubset=pid
LockPersonality=yes
ProtectHostname=yes
UtmpMode=missing
NoNewPrivileges=yes
PrivateIPC=yes
RestrictNamespaces=yes
RemoveIPC=yes
RestrictRealtime=yes
RestrictSUIDSGID=true
KeyringMode=private

# Memory Protection
MemoryDenyWriteExecute={{ if .NeedsExecMemory }}no{{ else }}yes{{ end }}

# Network Restriction
RestrictAddressFamilies=AF_UNIX{{ if .NeedsNetwork }} AF_INET AF_INET6{{ end }}
PrivateNetwork={{ if .NeedsNetwork }}no{{ else }}yes{{ end }}
{{ if and .NeedsNetwork (not .NeedsListening) }}SocketBindDeny=any{{ end }}

# Syscall Filtering
CapabilityBoundingSet=
SystemCallErrorNumber=EPERM
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @reboot @swap @resources @raw-io @privileged @keyring @pkey @memlock{{ if not .NeedsSubprocess }} @process{{ end }}

Restart=always
RestartSec=3
RuntimeMaxSec=5d

[Install]
WantedBy=multi-user.target