[Unit]
Description={{ .Label }}
{{- if .After }}
After={{ .After }}{{ end }}
{{- if .Requires }}
Requires={{ .Requires }}{{ end }}
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
User={{ .Name }}
Group={{ .Name }}

{{ if .NeedsRuntimeDir }}RuntimeDirectory={{ .Name }}
{{ end -}}
WorkingDirectory={{ .Path }}
ExecStart={{ .Path }}/{{ .Name }}

StandardOutput=append:{{ .Path }}/{{ if .SeparateLogDir }}logs/{{ end }}{{ .Name }}.log
StandardError=append:{{ .Path }}/{{ if .SeparateLogDir }}logs/{{ end }}{{ .Name }}.log
StandardInput=null

# Filesystem Sandboxing
ProtectSystem=strict
{{ if .NeedsWritableFiles }}ReadWritePaths={{ else }}ReadOnlyPaths={{ end }}{{ .Path }}
ProtectHome=yes
PrivateTmp=yes
PrivateMounts=yes
UMask={{ if .NeedsWritableFiles }}0022{{ else }}0077{{ end }}

# Kernel & Hardware Protection
PrivateDevices={{ if .NeedsDevices }}no{{ else }}yes{{ end }}
DevicePolicy={{ if .NeedsDevices }}{{ if .FullDevices }}none{{ else }}auto{{ end }}{{ else }}closed{{ end }}
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
SystemCallArchitectures=native

# Process & Identity Isolation
ProtectProc=invisible
ProcSubset=pid
LockPersonality=yes
ProtectHostname=yes
UtmpMode=missing
NoNewPrivileges=yes
PrivateIPC=yes
RestrictNamespaces=yes
RemoveIPC=yes
RestrictRealtime=yes
RestrictSUIDSGID=true
KeyringMode=private

# Memory Protection
MemoryDenyWriteExecute={{ if .NeedsExecMemory }}no{{ else }}yes{{ end }}

# Network Restriction
RestrictAddressFamilies=AF_UNIX{{ if .NeedsNetwork }} AF_INET AF_INET6{{ end }}{{ if .NeedsDevices }} AF_NETLINK{{ end }}
PrivateNetwork={{ if .NeedsNetwork }}no{{ else }}yes{{ end }}
{{- if and .NeedsNetwork (not .NeedsListening) }}
SocketBindDeny=any{{ end }}

# Syscall Filtering
CapabilityBoundingSet=
SystemCallErrorNumber=EPERM
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @reboot @swap @resources{{ if not .NeedsDevices }} @raw-io{{ end }} @privileged @keyring @pkey @memlock
{{- if not .NeedsSubprocess }}
InaccessiblePaths=-/bin -/usr/bin -/sbin -/usr/sbin -/usr/local/bin{{ end }}

Restart=always
RestartSec=3
RuntimeMaxSec=5d
{{- if .Defaults }}

# Defaults
{{ .FormatDefaults }}
{{- end }}
{{- if .Custom }}

# Custom
{{ .FormatCustom }}
{{- end }}

[Install]
WantedBy=multi-user.target