#!/bin/bash

set -euo pipefail

# --- HARDWARE PERMISSIONS ---
# If this service requires hardware access, you likely need a udev rule
# to assign ownership to the '{{ .Name }}' user.
# Example: /etc/udev/rules.d/99-{{ .Name }}.rules
# SUBSYSTEM=="usb", ATTRS{idVendor}=="XXXX", OWNER="{{ .Name }}"
# ----------------------------

echo "Linking sysusers config..."

mkdir -p /etc/sysusers.d

if [ -f /etc/sysusers.d/{{ .Name }}.conf ]; then
    rm /etc/sysusers.d/{{ .Name }}.conf
fi

ln -s "{{ .Path }}/conf/{{ .Name }}.conf" /etc/sysusers.d/{{ .Name }}.conf

echo "Creating user..."

systemd-sysusers

echo "Linking unit..."

if [ -f /etc/systemd/system/{{ .Name }}.service ]; then
    rm /etc/systemd/system/{{ .Name }}.service
fi

systemctl link "{{ .Path }}/conf/{{ .Name }}.service"

if command -v logrotate >/dev/null 2>&1; then
    echo "Linking logrotate config..."

    if [ -f /etc/logrotate.d/{{ .Name }} ]; then
        rm /etc/logrotate.d/{{ .Name }}
    fi

    ln -s "{{ .Path }}/conf/{{ .Name }}_logs.conf" /etc/logrotate.d/{{ .Name }}
else
    echo "Logrotate not found, skipping..."
fi

echo "Reloading daemon..."

systemctl daemon-reload
systemctl enable {{ .Name }}

echo "Fixing initial permissions..."

{{- if .SeparateLogDir }}

mkdir -p "{{ .Path }}/logs"

{{ end -}}

chown -R {{ .Name }}:{{ .Name }} "{{ .Path }}"

find "{{ .Path }}" -type d -exec chmod 755 {} +
find "{{ .Path }}" -type f -exec chmod 644 {} +

chmod +x "{{ .Path }}/{{ .Name }}"

echo "Setup complete, starting service..."

service {{ .Name }} restart

echo "Done."
