#!/bin/bash

set -euo pipefail

# --- HARDWARE PERMISSIONS ---
# If this service requires hardware access, you likely need a udev rule
# to assign ownership to the '{{ .Name }}' user.
# Example: /etc/udev/rules.d/99-{{ .Name }}.rules
# SUBSYSTEM=="usb", ATTRS{idVendor}=="XXXX", OWNER="{{ .Name }}"
# ----------------------------

echo "Linking sysusers config..."

mkdir -p /etc/sysusers.d

if [ ! -f /etc/sysusers.d/{{ .Name }}.conf ]; then
    ln -s "{{ .Path }}/conf/{{ .Name }}.conf" /etc/sysusers.d/{{ .Name }}.conf
fi

echo "Creating user..."
systemd-sysusers

echo "Linking unit..."
if [ -f /etc/systemd/system/{{ .Name }}.service ]; then
    rm /etc/systemd/system/{{ .Name }}.service
fi

systemctl link "{{ .Path }}/conf/{{ .Name }}.service"

echo "Reloading daemon..."
systemctl daemon-reload
systemctl enable {{ .Name }}

echo "Fixing initial permissions..."
chown -R {{ .Name }}:{{ .Name }} "{{ .Path }}"

find "{{ .Path }}" -type d -exec chmod 755 {} +
find "{{ .Path }}" -type f -exec chmod 644 {} +

chmod +x "{{ .Path }}/{{ .Name }}"

echo "Setup complete, starting service..."

service {{ .Name }} restart

echo "Done."
